body{
  padding: 0; margin: 0 auto; width: 1040px;
  font-family: 'Open Sans', sans-serif; line-height: 1.2;
}

header{
	width: 1040px; margin: 0 auto; display: block;
}

.wrap{
	position: relative; text-align: right; color: black;
}

.ontop{

	position: absolute; margin: 25px 30px;
}

.first{
	position: absolute; top: 0px;
	right: 12px; color: #eee;
}

li{
	font-size: 15px; list-style: none; 
	display: inline-block;
	padding: 0px 5px; text-decoration: none; 
	margin-right: 15px;}

a{ text-decoration: none; }
a:link{ color: #fff;}
a:visited{ color: #fff;}
a:hover{ color: #000; transition: color .4s ease-in;}
a:focus{ color: #000;}

.top-right {
  position: absolute; padding: 10px 50px;
  right: 237px; top: 62px; color: black;

  font-size: 30px; font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.below{

  position: absolute; padding: 0px 100px 50px 50px;
  right: 192px; top: 110px;
  color: black;
  width: 250px;
  font-size: 18px;
  text-align: center;

}

main{ margin: 20px;}

h2{
	margin-top: 18px;
	margin-bottom: 5px;
	font-size: 17px;}

.column1, .column2, .column3 p{

	float: left; clear: right;
	width: 325px; margin: 0 auto; font-size: 13px;
	padding: 0; padding-right: 13.3px; }

.box1{

	position: absolute;
	background-color: black;
	opacity: 50%;
	height: 73px;
	width: 320px;
	top: 640px;
	margin-top: 10.5px; }

.textwrap1{

	position: absolute; left: 258px; top: 640px; 
	color: white; margin-left: 10px; margin-right: 5px; width: 300px; }

.moveup {

	margin-top: -4px;
}
.box2{

	position: absolute; background-color: black;
	opacity: 40%; height: 73px; width: 320px;
	top: 640px; margin-top: 10.5px; }

.textwrap2{ position: absolute; top: 640px; color: white; width: 320px; margin-left: 10px; margin-right: 5px; }

.box3{

	position: absolute; right: 259.5px;
	background-color: black; opacity: 50%;
	height: 73px; width: 320px;
	top: 640px; margin-top: 10.5px;}

.textwrap3{ 
	position: absolute; right: 230px; 
	top: 640px; color: white; }

.bottom{text-align: center; padding: 20px; margin-bottom: 15px; margin-left: 85px;}
.bottom a:link{ color: #666;}
.bottom a:visited{ color:#666;}

.bottom a:hover{ color:#000; transition: color .4s ease-in; }
.bottom a:focus{ color:#000;}

.socials{ display: inline-block; float: right; clear: both;}
